@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'normalize';
//You need to now manually import every other scss file.
.logo {
  display: inline;
}
.form-search {
  display: inline-block;
  padding-left: 15px;
}

.logout {
  float: right;
}

nav {
  border-bottom: 1px solid gray;
  background: lightcyan;
}

.notice {
  background: lightyellow;
  font-weight: bold;
}

.in-cart {
  background: green;
}

.container {
  position: relative;
}