@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'normalize';
//You need to now manually import every other scss file.

.form-search {
  display: inline-block;
  padding-left: 15px;
}

.logout {
  float: right;
}