<h2 class="page-header">Products</h2>
<% if @cart %>
    <%= react_component("ProductsIndex", products: @products, order_id: @cart.id) %>
<% else %>
    <%= react_component("ProductsIndex", products: @products) %>
<% end %>

